<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please register in</title>
</head>
<body>
<h1>Please Register in</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/registration}" method="post">
    <div>
        <input type="text" name="username" id="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Reg in"/>
</form>
</body>
</html>